[Unit]
Description=Process Behavioral Alarms and Alerts

[Timer]
# daily at 0015 hrs
OnCalendar=*-*-* 02:35:00
Persistent=true

[Install]
Also=behave-nightly.service
WantedBy=multi-user.target
