[Unit]
Description=Process DHCP transactions

[Timer]
# daily at 0015 hrs
OnCalendar=*-*-* 00:15:00
Persistent=true

[Install]
Also=radhcp-nightly.service
WantedBy=multi-user.target
